/* form setting */

input{
  //remove input background color for chrome autocomplete
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
  }
  &:focus{
    border: 1.5px solid $color-primary;
  }
}
.requiredField::before{
  color: red;
  content: "*";
  padding-right: 3px;
  font-size: 1.8rem;
  font-weight: 700;
}

.task-edit {
  padding: 2rem;
  background-color: $color-tertiary-light;
  margin: auto;
  line-height: 3rem;
  & input {
    padding: 0.5rem;
    min-height: 2.5rem;
    display: inline-block;
    width: 32.5rem;
    outline: none;

    @include respond(tab-port) {
      display: block;
      margin: 0 auto;
    }
  }
  & span {
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 2rem;
    display: inline-block;
    vertical-align: top;
    width: 33rem;
    text-align: right;
    margin-bottom: 0.5rem;
    @include respond(tab-port) {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.select-custom {
  display: inline-block;
  background: $color-white;
  height: 3.6rem;
  overflow: hidden;
  width: 33.5rem;
  select {
    outline: none;
    background: transparent;
    font-size: 1.2rem;
    height: 3.6rem;
    padding: 0.5rem;
    width: 33.5rem;
  }
  @include respond(tab-port) {
    display: block;
    margin: 0 auto;
  }
}

.container__summaryBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-icon{
  padding-left: 3px;
  width: 16px;
  height: auto;
  outline: none;
  border: none;
}
